NODE_ENV=production

POSTGRES_DB=bioconecta_prod
POSTGRES_USER=bioconecta
POSTGRES_PASSWORD=troque_esta_senha

JWT_ACCESS_SECRET=troque_por_um_segredo_com_mais_de_32_chars
JWT_REFRESH_SECRET=troque_por_outro_segredo_com_mais_de_32_chars
JWT_ACCESS_TOKEN_TTL_SECONDS=900
JWT_REFRESH_TOKEN_TTL_DAYS=30
EMAIL_VERIFICATION_TOKEN_TTL_HOURS=24

APP_WEB_URL=https://bioconecta.seudominio.com
APP_API_URL=https://api-bioconecta.seudominio.com
NEXT_PUBLIC_API_URL=https://api-bioconecta.seudominio.com/api/v1

BIOCONECTA_WEB_HOST_PORT=3100
BIOCONECTA_API_HOST_PORT=4100
